# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB_NAME=ArticlesAppDB
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5433

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=***
PGADMIN_PORT=5051

# Redis parameters
REDIS_HOST=redis_cache
REDIS_PORT=6380

# Seq parameters
SEQ_EXTERNAL_PORT=5341
SEQ_PASSWORD=12345678
# секретный ключ для авторизации API в Seq
SEQ_API_KEY=

# API parameters
API_HTTP_PORT=5000